header img {
    height: 80px;
    margin-left: 40px;
}
body {
    background-color: #1B2640;
    color :white;
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: white;
}
p {
    color: black;
}
header {
    background-color: #0F172A;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    overflow: hidden;
}

li{
    float: right;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color:white;
    text-decoration: none;
  }
  
  .active {
    background-color: #4CAF50;
    text-decoration: none;
  }

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-info{
  background-color: white;
  padding: 16px;
  margin-top: 10px;
}


footer{
  padding-top: 0px;
  margin-left: 0px;
  margin-top: 320px;
  background-color: bisque;
  text-align: center;
}