/* Body Adjustments */
body {
  background-color: #1B2640;
  color :rgb(255, 255, 255);
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  overflow: auto;
}

p {
  color: black;
}

/* Header Image Size Adjustment */

  /* Header Start */
header img {
  height: 80px;
  margin-left: 40px;
}

header {
  background-color: #0F172A;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
  align-items: left;
}

header li {
  margin: 20px;
  font-family: 'Roboto';
}

header li a {
  font-family: 'Roboto';
  color: white;
  text-decoration: none;
}
  /* Header End */

a:link {
  text-decoration: none;
}

/* Payment Form */
.payment-form {
background-color: #e8e9ec;
width: 500px;
margin: 50px auto;
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
  flex-direction: column;
border-radius: 4px;
box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

/* login form header */
.payment-form h1 {
padding: 35px 35px 0 35px;
color: black;
font-weight: bold;
font-family: 'Roboto';
}

/* Login form content */
.payment-form .content {
padding: 35px;
text-align: center;
}

.payment-form .input-field {
padding: 12px 5px;
}

.payment-form .input-field input {
font-size: 16px;
display: block;
font-family: 'Roboto';
width: 100%;
padding: 10px 1px;
border: 0;
border-radius: 4px;
border-bottom: 1px solid #747474;
outline: none;
-webkit-transition: all .2s;
transition: all .2s;
}

/* payment Text Field Modifications */

.payment-form .input-field input::placeholder {
  text-indent: 2%;
  text-transform: uppercase;
}
.payment-form .input-field input:focus {
border-color: #222;
}
.payment-form a.link {
text-decoration: none;
color: #747474;
letter-spacing: 0.2px;
text-transform: uppercase;
display: inline-block;
margin-top: 20px;
}
.payment-form .action {
display: -webkit-box;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
        flex-direction: row;
}
.payment-form .action button {
width: 100%;
border: none;
padding: 18px;
font-family: 'Roboto';
font-weight: 600;
cursor: pointer;
text-transform: uppercase;
background: #04AA6D;
color: rgb(0, 0, 0);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0;
letter-spacing: 0.2px;
outline: 0;
-webkit-transition: all .3s;
transition: all .3s;
}
.payment-form .action button:hover {
background: #d8d8d8;
}
.payment-form .action button:nth-child(2) {
background: #2d3b55;
color: #fff;
border-bottom-left-radius: 0;
border-bottom-right-radius: 4px;
}
.payment-form .action button:nth-child(2):hover {
background: #597bbb;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}


th,td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 40px 10px;
  font-size: 12px;
  color: white;

}

td img {
  height: 80px;
  width: 80px;
  border-radius: 10%;
  border: 1px solid black;
}


td button {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: black;
  color: #e6e7e8;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}


th,td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 40px 10px;
  font-size: 12px;
  color: white;
  

}

td img {
  height: 80px;
  width: 80px;
  border-radius: 10%;
  border: 1px solid black;
}


td button {
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: black;
  color: yellow;
  float: right;
  
}



.cart:hover {
  cursor: pointer;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;    
}


th,td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 40px 10px;
  font-size: 12px;
  color: white;
 
}

td img {
  height: 80px;
  width: 80px;
  border-radius: 10%;
  border: 1px solid black;
}


td .add {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: #c6fd00;
}

td .remove {

  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: #ff3300;

}

.book {

  border: none;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: #0173f5;
  float: right;
 


}

.cart:hover {  
  cursor: pointer;
}
footer {
  text-align: center;
  color: white;
  height: 150px;
}

footer p{
 padding: 60px;
 border-top: 1px solid #e1e1e1;
 background: #0F1A50;
 color: #e1e1e1;
}