*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section{
  width: 100%;
  height: 100vh;
  background-image: url(image/bg.png);
  background-size: cover;
  background-position: center;
}

section nav .logo{
float: left;
margin-left: 20px;
}

section nav ul{
  float: right;
  margin-top: 40px;
  margin-right: 20px;
font-size: large;
font-weight: bold;}

section nav{
  width: 100%;
  display: block;
  box-shadow: 0 0 10px #089da1;
   background: #fff; 
  background:#0F172A;
  position: fixed;
  left: 0;
  z-index: 100;
}

section nav .logo img{
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
}

section nav .logo span{
  vertical-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  vertical-align: 40px;
  font-size: 30px;
}

section nav ul{
  list-style: none;
}

section nav li{
  display: inline-block;
  padding: 0 10px;
}

section nav li a{
  text-decoration: none;
  color: white;
}

section nav li a:hover{
  color: #089da1;
}

/* section nav .social_icon i{
  margin: 0 5px;
  font-size: 18px;
  color: white;
} 

 section nav .social_icon i:hover{
  color: #089da1;
  cursor: pointer;
} */

section .main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
}

section .main h1{
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

section .main h1 span{
  color: #089da1;
}

section .main p{
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 25px;
}

section .main .main_tag .main_btn{
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

section .main .main_img img{
  width: 780px;
  position: relative;
  top: 90px;
  left: 20px;
}

/*services*/

.services{
  width: 100%;
  height: auto;
  margin: 45px 0;
  margin-top: 50px;
}

.services .services_box{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

.services .services_box .services_card{
  text-align: center;
  width: 310px;
  height: 200px;
  box-shadow: 0 0 8px #089da1;
  padding: 15px 10px;
}

.services .services_box .services_card i{
  color: #089da1;
  font-size: 45px;
  margin-bottom: 15px;
  cursor: pointer;
}

.services .services_box .services_card h3{
  margin-bottom: 10px;
}


.featured_boks{
  width: 100%;
  height: 100vh;
  padding: 70px 0px 0px 0px;;
}

.featured_boks h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
}

.featured_boks .featured_book_box{
  width: 95%;
  height: 60vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
  width: 250px;
  height: 420px;
  text-align: center;
  padding: 5px;
  border: 1px solid #919191;
  margin: auto 20px;
}

.featured_boks .featured_book_box .featured_book_card:hover{
  box-shadow: 0 0 5px #089da1;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
  width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
  margin: 12px;
  font-size: small;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
  color: #919191;
  font-size: small;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
  color: #089da1;
  margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
  font-weight: 100;
  padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
  padding: 8px 20px;
  border: 2px solid #089da1;
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
  background: #089da1;
  border-radius: 10px;
}

/*arrivals*/

.courses{
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.courses h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}



.courses .courses_box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px 0;
}

.courses .courses_box .courses_card{
  width: 250px;
  height: 350px;
  text-align: center;
  padding: 5px;
  border: 1px solid #919191;
  margin: auto 20px;
}

.courses .courses_box .courses_card:hover{
  box-shadow: 0 0 5px #089da1;
}

.courses .courses_box .courses_card .courses_image{
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  overflow: hidden;
}

.courses .courses_box .courses_card .courses_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.courses .courses_box .courses_card:hover .courses_image img{
  transform: scale(1.1);
}

.courses .courses_box .courses_card .courses_tag p{
  font-family: queen of camelot;
  font-size: 20px;
  margin: 8px 0;
  margin-bottom: 15px;
  
}

.courses .courses_box .courses_card .courses_tag H3{
  font-family: queen of camelot;
  font-size: 15px;
  margin: 8px 0;
  margin-bottom: 8px;
  
}


.courses .courses_box .courses_card .courses_tag .courses_btn{
  padding: 8px 20px;
 
  border: 2px solid #089da1;
  text-decoration: none;
  color: #000;
}

.courses .courses_box .courses_card .courses_tag .courses_btn a{
margin-top: 5px;
}


footer {
  text-align: center;
  color: white;
  height: 150px;
}

footer p{
 padding: 640px;
 border-top: 1px solid #e1e1e1;
 background: #0F1A50;
 color: #e1e1e1;
}

.contact-section {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  background: #0F1A50;
  height: 300px;
}
.contact-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.contact-right {
  position: absolute;
  right: 0;
  top: 30%;
  padding-bottom:0px ;
  width: 45%;
  height: 80%;
  
}
.contact-right iframe {
  height: 60%;
  width: 60%;
}

#footer {
  position: absolute;
  left: 10%;
  right: 0;
  top: 45%;
  padding-bottom:0px;
  width: 50%;
  height: 50%;
}

@media only screen and (max-width: 600px) {
  

  section nav .logo span{
    display: none;
  }

  section {
    display: block;
    width: 100%;
    height: 500px;
  }

  section nav{
    position: relative;
  }
  section nav .logo, section nav ul, section nav li{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  section nav li{
    border: 1px solid white;
  }

  section nav li a:hover{
    color: #089da1;
  }


  section .main{
    display: block;
    width: 100%;
    margin: 0;;
  }

  section .main .main_img img{
    padding-top: 200px;
    float: none;
    width: 100%;
    margin: 0;;
    
  }

  section .main .main_tag{
    float: none;
    width: 100%;
    margin: 0;
  }

  .courses .courses_box{
    display: block;
    padding-left: 80px;
    
  }
  .courses .courses_box .courses_card{float:none;margin-top: 10px;}

  .courses h1{
    padding-right: 30px;
  }
  
 
  .services{
    display: block;
    float: none;
    width: 100%;
    margin:0px;
    margin-top: 900px;
  }
}

