header img {
  float: left;
height: 80px;
margin-left: 40px;
}
/* Body Adjustments */
body {
background-color: #1B2640;
color :rgb(255, 255, 255);
height: 125vh;
font-family: 'Roboto';
margin-top: 80px;
padding: 30px;
}

p {
color: black;

}

/* Header Image Size Adjustment */

/* Header Start */


section{
width: 100%;
height: 100vh;
background-image: url(image/bg.png);
background-size: cover;
background-position: center;
}

section nav .logo{
float: left;
margin-left: 20px;
}

section nav ul{
float: right;
margin-top: 40px;
margin-right: 20px;
font-size: large;
font-weight: bold;}

section nav{
width: 100%;
display: block;
box-shadow: 0 0 10px #089da1;
 background: #fff; 
background:#0F172A;
position: fixed;
left: 0;
z-index: 100;
}

section nav .logo img{
width: 100px;
cursor: pointer;
margin: 8px 0;
}

section nav .logo span{
vertical-align: center;
font-family: 'Courier New', Courier, monospace;
color: white;
vertical-align: 40px;
font-size: 30px;
}

section nav ul{
list-style: none;
}

section nav li{
display: inline-block;
padding: 0 10px;
}

section nav li a{
text-decoration: none;
color: white;
}

section nav li a:hover{
color: #089da1;
}


header {
width: 100%;
background-color: #0F172A;    
position: fixed;
  left: 0;
top: 0;
right: 0;
height: 100px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 black;
}

header * {
display: inline;
align-items: right;
}

header li {
margin: 20px;
font-family: 'Roboto';
}

header li a {

font-family: 'Roboto';
color: white;
text-decoration: none;
}

/* Header End */

footer {
  text-align: center;
  color: white;
  height: 150px;
}

footer p{
 padding: 640px;
 border-top: 1px solid #e1e1e1;
 background: #0F172A;
 color: #e1e1e1;
}

.contact-section {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  background: #0F172A;
  height: 300px;
}
.contact-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.contact-right {
  position: absolute;
  right: 0;
  top: 25%;
  padding-bottom:30px ;
  width: 45%;
  height: 85%;
  
}
.contact-right iframe {
  height: 85%;
}
#footer {
  position: absolute;
  left: 10%;
  right: 0;
  top: 45%;
  padding-bottom:0px;
  width: 50%;
  height: 50%;
}


