ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: navy;
    border: 1px solid black;
    overflow: hidden;
}

li{
    float: right;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    
    
}

li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }