ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #63ace5;
    border: 1px solid black;
    overflow: hidden;
}

li{
    float: right;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    
    
}

li a:hover {
    background-color:white;
  }
  
  .active {
    background-color: #4CAF50;
  }

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}