header img {
  height: 80px;
  margin-left: 40px;
}
/* Body Adjustments */
body {
  background-color: #1B2640;
  color :rgb(255, 255, 255);
  height: 125vh;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

p {
  color: black;
}

/* Header Image Size Adjustment */

  /* Header Start */


header {
  background-color: #0F172A;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
  align-items: left;
}

header li {
  margin: 20px;
  font-family: 'Roboto';
}

header li a {
  font-family: 'Roboto';
  color: white;
  text-decoration: none;
}
  /* Header End */
